html {
    background-color: rgb(48, 48, 48);
}

.start .textarea textarea {
    font-family: "Courier New";
    font-size: 14px;
}

.start .textarea.input-group {
    padding: 0;
}

.start .textarea.input-group label {
    top: 12px;
}

.errorMessage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.start .errorMessage .icon {
    margin-right: 5px;
}

.toolbar .abcRioButtonLightBlue {
    background-color: rgb(48, 48, 48);
}