<!DOCTYPE HTML>
<html>  
  <head>  
    <title>Tools page</title>
    <!--
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    -->
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="css/site.css">
    
    
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>  
    <script src="https://unpkg.com/vue-material@0.7.1/dist/vue-material.js"></script>
  
    </style>  
  </head>  
  <body class="start">  
    <div id="app">    
      <md-card>
        <md-card-header>
          <div class="md-title">Tools</div>
        </md-card-header>
        <md-card-content>
          <div class="left">
            <div class="error" v-if="error">
              {{error.message}}
            </div>
            <div>
              <md-button @click.native="encodeURL" class="md-raised">encodeURL</md-button>
              <md-button @click.native="decodeURL" class="md-raised">decodeURL</md-button>
            </div>
            <div>
              <md-button @click.native="encodeBase64" class="md-raised">encodeBase64</md-button>
              <md-button @click.native="decodeBase64" class="md-raised">decodeBase64</md-button>
            </div>
            <div>
              <md-button @click.native="formatJson" class="md-raised">formatJson</md-button>
              <md-button @click.native="formatXml" class="md-raised">formatXml</md-button>
            </div>
          </div>
          <div class="right">
            <textarea id="textArea" class="textArea" v-model="textarea" autofocus></textarea>
          </div>
        </md-card-content>
      </md-card>
    </div>  
  <script src="js/script.js"></script>  
  </body>
</html>
